@keyframes themeShowAnimation {
    0% {
        left: -300%;
        top: 30px;
        opacity: 0;
    }
    70% {
        left: -50%;
        top: 10px;
        opacity: 0.5;
    }
    100% {
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}
@keyframes themeHideAnimation {
    0% {
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
    }
    70% {
        left: 70px;
        top: 10px;
        opacity: 0.5;
    }
    80% {
        left: 70px;
        top: 30px;
        opacity: 0;
    }
    100% {
        opacity: 0;
        left: -300%;
    }
}
@keyframes hideToShow {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
.sidebar {
    .items {
        .item {
            cursor: pointer;
            &:hover {
                background-color: white;
                transition: all 0.2s ease-in-out;
                .icon {
                    svg {
                        color: black;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }
    .setting {
        cursor: pointer;
    }
    .theme {
        .iconTheme {
            transition: all .5s ease-in-out;
        }
        .textTheme{
            animation: hideToShow .5s ease-in-out 1 forwards; 
            letter-spacing: 2px;
        }
        .themeShow {
            animation: themeShowAnimation 1s linear 1 forwards;
        }
        .themeHide {
            animation: themeHideAnimation 1.3s ease-in-out 1 forwards;
        }
        .btnLoad {
            box-shadow:
                rgba(231, 228, 228, 0.7) 0px 0px 5px 0px,
                rgba(231, 228, 228, 0.7) 0px 0px 1px 0px;
        }
    }
}
